:root{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body{
  height: 100%;
  margin: 0;
}
#content{
  height: 100%;
}

nav{
  display: flex;
  justify-content: center;
  gap: 4em;
  align-items: center;
  padding: 10px;
  background-color: black;

  button{
    font-family: inherit;
    font-size: 1.5em;
    font-weight: 900;
    color: white;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  button:hover{
    text-decoration: underline;
  }
}

